div.container {
  p {
    text-align: center;
    font-weight: bold;
    color: $color-primary;
  }
  .drop {
    width: 100%;
    height: 165px;
    border: none;
    p, span {
      color: $color-accent-dark;
    }
  }
}
