.container {
  .search {
    display: flex;
    align-items: center;
    > div {
      flex: 1;
      margin-right: 20px;
    }
  }

  .periods {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;

    > div > div {
      display: flex;
      flex-wrap: wrap;
    }

    > div > div > div {
      margin: 10px;
      min-width: 400px;
      flex: 1;
    }
  }
}