table.table {
    border: 1px solid $color-text;
    border-radius: 10px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    thead {
        background-color: $palette-grey-200;
        color: $color-text;
        border-bottom: 1px solid $color-text;
        tr {
            height: 2em;
        }
    }

    tbody {
        tr {
            height: 2.5em;

            td {
                padding: 5px;
            }

            td.right {
                text-align: right;
            }
        }
        tr.even {
            background-color: $palette-grey-100;
        }
    }

    tfoot {
        tr {
            height: 3em;
            font-size: 1.5em;
            background-color: $palette-grey-200;
        }
    }

    a {
        color: $palette-grey-900;
    }
}
