div.container {
  div.list {
    margin-top: 20px;

    div.items {
      display: flex;
      flex-wrap: wrap;

      > div {
        width: 200px;
        height: 200px;
        padding: 5px;
        background-color: $color-divider;
        border-radius: 5px;
        margin: 5px;
      }
    }
  }
}